<% comment ||= @comment %>
<% number ||= 1 %>
<div class="comment" id="comment<%= comment.id %>">
	<img class="avatar" src="<%= comment.gravatar_src %>" />
	<div class="header">
		<div class="commenter"><%= comment.commenter %><a href="#comment<%= comment.id %>">#<%= number %></a></div>
		<div class="time"><i class="icon-time"></i> <%= comment.created_at.strftime("%B %-d, %Y") %></div>
	</div>
	<div class="body"><%= comment %></div>
	<% if @user && @user.is_admin? %>
		<form action="/comments/<%= comment.id %>" method="post">
		  <input type="hidden" name="_method" value="delete" /> 
		  <input type="submit" value="delete" />
		</form>
	<% end %>
</div>