<%
commenter = cookies[:commenter] || ''
email = cookies[:email] || ''
website = cookies[:website] || ''
body = cookies[:body] || ''
%>
<form action="/comments" method="post">
  <label for="comment_commenter">Name</label>
  <input id="comment_commenter" name="comment[commenter]" type="text" value="<%= commenter %>" required />
  <label for="comment_email">Email (kept private)</label>
  <input id="comment_email" name="comment[email]" type="email" value="<%= email %>" required />
  <label for="comment_website">Website (optional)</label>
  <input id="comment_website" name="comment[website]" type="text" value="<%= website %>" />
  <label for="comment_body">Comment</label>
  <textarea id="comment_body" name="comment[body]" rows="5" required ><%= body %></textarea>
  <p class="footnote">
    Note: You can use <a href="http://daringfireball.net/projects/markdown/syntax" target="df_markdown">Markdown</a> to format your comment.
  </p>
  <input type="hidden" name="comment[post_id]" value="<%= post.id %>" />
  <input type="submit" value="Post Comment" />
</form>