<%
@year = @posts.first.published_at.strftime("%Y")
@month = @posts.first.published_at.strftime("%B")
%>
<div class="center top-links">
	<a href="/blog" class="button"><i class="icon-double-angle-left"></i> Blog</a>
</div>
<h2 class="center">Archive</h2>
<div class="center archive">
	<section class="cf">
		<header>
			<h4><%= @month %></h4>
			<h2><%= @year %></h2>
		</header>
		<ul>
			<% @posts.each_with_index do |post, i|

				# If we're swithing years/months then finish the current list and start a new one
				published_year = post.published_at.strftime("%Y")
				published_month = post.published_at.strftime("%B")
				if !@year || published_year != @year || !@month || published_month != @month 
					@year = published_year
					@month = published_month
					%>
						</ul>
					</section>
					<section class="cf">
						<header>
							<h4><%= @month %></h4>
							<h2><%= @year %></h2>
						</header>
						<ul>
				<% end %>
				<li>
					<%= "<a href='#{post.link}'>#{post.title}</a>" %>
				</li>
			<% end %>
		</ul>
	</section>
</div>