<%
@year = @posts.first.published_at.strftime("%Y")
%>
<ul class="center">
	<li>
		<h1><%= @year %></h1>
		<ul class="post-list">
			<% @posts.each_with_index do |post, i|

				# If we're swithing years/months then finish the current list and start a new one
				published_year = post.published_at.strftime("%Y")
				if !@year || published_year != @year
					@year = published_year
					%>
						</ul>
					</li>
					<li>
						<header>
							<h1><%= @year %></h1>
						</header>
						<ul>
				<% end %>
				<li>
					<a href="<%= post.link %>"><%= post.title %></a>
					<time datetime="<%= post.published_at ? post.published_at.strftime("%Y-%m-%d") : '' %>" pubdate><%= post.published_at ? post.published_at.strftime("%B %-d, %Y") : 'Not published' %></time>
				</li>
			<% end %>
		</ul>
	</li>
</ul>
