<%= "<a class='button left' href='/blog?page=#{@older_page}'>Older posts</a>" if @older_page %>
<%= "<a class='button right' href='/blog?page=#{@newer_page}'>Newer posts</a>" if @newer_page %>
<% @posts.each do |post|
	comment_count = post.comments.count
	comment_text = case comment_count
		when 0 then 'No Comments'
		when 1 then '1 Comment'
		else "#{comment_count} Comments"
	end %>
	<div class="post">
		<%= erb :'posts/post', locals: {post: post} %>
		<div class="footer">
			<a class="button" href="/posts/<%= post.id %>#comments"><%= comment_text %></a>
			<a class="button facebook right" href="#">Facebook</a>
			<a class="button twitter right" href="#">Twitter</a>
		</div>
	</div>
<% end %>
<%= "<a class='button left' href='/blog?page=#{@older_page}'>Older posts</a>" if @older_page %>
<%= "<a class='button right' href='/blog?page=#{@newer_page}'>Newer posts</a>" if @newer_page %>