<%= '<div class="center cf top-links"><a href="/blog/archive" class="button"><i class="icon-archive"></i> Archive</a><a href="/blog/tags" class="button"><i class="icon-tags"></i> Tags</a></div>' if not request.xhr? %>
<% @posts.each_with_index do |post, index|
	comment_count = post.comments.count
	comment_text = case comment_count
		when 0 then 'No Comments'
		when 1 then '1 Comment'
		else "#{comment_count} Comments"
	end %>
	<article class="post short center">
		<%= erb :'posts/post', locals: {post: post, short: true} %>
		<footer class="cf">
			<a href="<%= post.link %>">Read More</a>
			<a href="<%= post.link %>#comments" class="right"><i class="icon-comment"></i> <%= comment_text %></a>
		</footer>
	</article>
<% end %>
<% if @show_more_link %>
	<a class="load-more js-ajax-replace" href="/blog?page=<%= @current_page + 1 %>"><i class="icon-plus-sign"></i> Load more posts</a>
<% end %>
<script src="/prettify/prettify.js"></script>
<script>prettyPrint();</script>