<% post ||= @post %>
<% comments = post.comments.order('created_at ASC') %>
<div class="center top-links">
	<a href="/blog" class="button"><i class="icon-double-angle-left"></i> All posts</a>
</div>
<article class="post center">
	<%= erb :'posts/post' %>
	<footer class="cf">
		<a class="button twitter" href="<%= twitter_share_link post.link %>" target="_blank"><i class="icon-twitter"></i> Tweet</a><a class="button facebook" href="<%= facebook_share_link post.link %>" target="_blank"><i class="icon-facebook"></i> Share</a>
	</footer>
</article>
<div id="comments" class="center">
	<h3><i class="icon-comments"></i> Comments</h3>
	<%= '<div class="sad">Sad, no one has commented yet. A pity comment from you, quisáz?</div>' if comments.empty? %>
	<% comments.each_with_index do |comment, i| %>
		<%= erb :'comments/comment', locals: {comment: comment, alternate: i.even? } %>
	<% end %>
</div>
<div id="comment-form" class="center">
	<h3>Leave your own!</h3>
	<%= get_message 'comment_form' %>
	<%= erb :'comments/form', locals: {post: post} %>
</div>
<script src="/prettify/prettify.js"></script>
<script>prettyPrint();</script>