<% post ||= @post %>
<% comments = post.comments.order('created_at ASC') %>
<article class="post center">
	<%= erb :'posts/post' %>
	<footer class="cf">
		<a class="button twitter" href="<%= twitter_share_link post.link %>" target="_blank"><i class="fa fa-twitter"></i> Tweet</a><a class="button facebook" href="<%= facebook_share_link post.link %>" target="_blank"><i class="fa fa-facebook"></i> Share</a>
	</footer>
</article>
<div id="comments" class="center">
	<h3><i class="fa fa-comments"></i> Comments</h3>
	<%= '<div class="sad">No comments.</div>' if comments.empty? %>
	<% comments.each_with_index do |comment, i| %>
		<%= erb :'comments/comment', locals: {comment: comment, alternate: i.even?, comment_number: i + 1} %>
	<% end %>
</div>
<div id="comment-form" class="center">
	<h3>Leave your own!</h3>
	<%= get_message 'comment_form' %>
	<%= erb :'comments/form', locals: {post: post} %>
</div>
<script src="/build/prettify.min.js"></script>
<script>prettyPrint();</script>