<%
post ||= @post
tags = post.tags.map { |tag| "<a href='#{tag.link}' rel='tag'>#{tag.name}</a>" }
%>
<article class="post center">
	<header class="cf">
		<h1><%= post.title %></h1>
		<time datetime="<%= post.published_at ? post.published_at.strftime("%Y-%m-%d") : '' %>" pubdate><%= post.published_at ? post.published_at.strftime("%B %-d, %Y") : 'Not published' %></time>
	</header>
	<div class="body">
		<%= post %>
	</div>
	<footer class="cf">
		<% unless tags.empty? %>
		<div class="left">Tagged under <%= nice_list tags %>.</div>
		<% end %>
		<a href="#" class="right">Comment on Twitter</a>
	</footer>
</article>