<%
@page_title ||= ''
pages = ['blog', 'code', 'photographs', 'about']
links_markup =
    '<li>Follow <a href="//twitter.com/'+settings.twitter_id+'" rel="me" title="twitter">@'+settings.twitter_id+'</a></li>
    <li>Fork <a href="//github.com/'+settings.github_id+'" rel="me" title="github">github.com/'+settings.github_id+'</a></li>
    <li>Subscribe <a type="application/rss+xml" rel="alternate" href="/feed" rel="me" title="rss">elliotdickison.com/feed</a></li>'
%>
<!DOCTYPE html>
<!--


-->
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="google-site-verification" content="CsKxQ5xeJkM4VvDiowc4HWQEH9OzAegv-jfkWkUVuL8" />
        <meta name="description" content="Elliot James Dickison – web developer, skier, father, christian">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <title>Elliot Dickison<%= (@page_title.size ? " | #{@page_title.gsub(%r{</?[^>]+?>}, '').strip}" : '') %></title>
        
        <link rel="author" href="https://plus.google.com/u/0/+ElliotDickison/posts" />
        <link rel="icon" type="image/png" href="/img/favicon.png" />
        <link rel="stylesheet" href="/build/all.css">

        <!-- webmentions ftw -->
        <link href="<%= request.scheme %>://<%= request.host %>/webmention" rel="webmention" />
        
        <script type="text/javascript" src="//use.typekit.net/vmc7ddm.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    </head>
    <body ontouchstart>
        <header class="page-header">
            <ul>
                <li class="desktop-only page-title h-card">
                    <a href="/" class="p-name u-url">Elliot Dickison</a> is a programmer, skier, husband, and dad. He lives in the PNW, works at <span class="p-org">Amazon</span>, and likes to build things for the web.
                </li>
                <li class="mobile-only page-title">
                    <a href="/">Elliot Dickison</a> / <%= @selected_tab.to_s.sub(/^(\w)/) {|s| s.capitalize} %>
                </li>
                <li>
                    <nav>
                        <label class="mobile-only" for="menu">Menu</label>
                        <input class="hidden" type="checkbox" id="menu" />
                        <ul>
                            <li></li><%=
                            pages.inject('') do |str, page|
                                klass = @selected_tab == page.to_sym ? 'selected' : ''
                                str << "<li class='#{klass}'><a href='/#{page}'>&raquo; #{page}</a></li>"
                            end
                        %></ul>
                    </nav>
                </li>
                <li class="desktop-only">
                    <ul class="links">
                        <%= links_markup %>
                    </ul>
                </li>
            </ul>
        </header>
        <!--[if lt IE 9]>
            <div class="browse-happy">You are using an outdated browser. Please <a href="http://browsehappy.com/?locale=en">upgrade your browser</a> to improve your experience.</div>
        <![endif]-->
        <div class="page-body">
            <%= get_message %>
            <%= yield %>
        </div>
        <footer class="page-footer cf">
            <ul class="mobile-only links">
                <%= links_markup %>
            </ul>
            <figure class="made-in-idaho">
                <svg viewBox="0 0 300 300">
                    <clipPath id="idaho-clip">
                        <path class="idaho" d="m160.56 173.04c.054 29.662-.002 59.32.052 88.986-51.32-.179-102.41.337-153.72.011-5.817-11.607-.626-25.732-2.475-38.25-2.534-13.487 3.258-27.57.978-40.07-15.12-10.772 6.61-26.09 8.304-39.36 5.88-8.612 4.384-20.469-5.04-25.37-7.909-19.07-3.311-40.08-4.637-60.07-.056-19.31-.643-55.865.419-57.929 2.054-.926 20.222-1.714 23.07-.039 1.632 2.849-.167 38.663 9.08 49.34.071 13.783 13.751 18.488 19.733 29.11 2.937 9.454 14.337 9.758 18.14 16.811-5.753 9.763-.44 21.599-5.501 31.33-1.446 13.515 14.09 2.127 16.821 3.188 8.09 8.91 6.882 25.23 17.831 30.389 6.269 5.201 5.383 19.835 16.337 11.27 8.551-4.27 20.607 1.743 28.699-4.255 4.511-12.634 6.428 3.628 11.919 4.901"/>
                    </clipPath>
                    <path class="heart outside" d="m248.08 5.883c-36.691-14.739-77.77-.839-98.52 31.13-20.744-31.964-61.826-45.864-98.52-31.13-41.689 16.749-61.906 64.13-45.16 105.81 16.06 39.98 143.31 139.61 143.31 139.61l.359.28.36-.28c0 0 127.25-99.63 143.31-139.61 16.752-41.687-3.466-89.06-45.16-105.81"/>
                    <path class="idaho" d="m160.56 173.04c.054 29.662-.002 59.32.052 88.986-51.32-.179-102.41.337-153.72.011-5.817-11.607-.626-25.732-2.475-38.25-2.534-13.487 3.258-27.57.978-40.07-15.12-10.772 6.61-26.09 8.304-39.36 5.88-8.612 4.384-20.469-5.04-25.37-7.909-19.07-3.311-40.08-4.637-60.07-.056-19.31-.643-55.865.419-57.929 2.054-.926 20.222-1.714 23.07-.039 1.632 2.849-.167 38.663 9.08 49.34.071 13.783 13.751 18.488 19.733 29.11 2.937 9.454 14.337 9.758 18.14 16.811-5.753 9.763-.44 21.599-5.501 31.33-1.446 13.515 14.09 2.127 16.821 3.188 8.09 8.91 6.882 25.23 17.831 30.389 6.269 5.201 5.383 19.835 16.337 11.27 8.551-4.27 20.607 1.743 28.699-4.255 4.511-12.634 6.428 3.628 11.919 4.901"/>
                    <g clip-path="url(#idaho-clip)">
                        <path class="heart inside" d="m248.08 5.883c-36.691-14.739-77.77-.839-98.52 31.13-20.744-31.964-61.826-45.864-98.52-31.13-41.689 16.749-61.906 64.13-45.16 105.81 16.06 39.98 143.31 139.61 143.31 139.61l.359.28.36-.28c0 0 127.25-99.63 143.31-139.61 16.752-41.687-3.466-89.06-45.16-105.81"/>
                    </g>
                </svg>
                <figcaption>
                    Made in Idaho
                </figcaption>
            </figure>
        </footer>
        <script type="text/javascript" src="/build/all.js"></script>
    </body>
</html>
