<% @page_title = "elliotjam.es" << (@page_title ? "/#{@page_title.downcase}" : '') %>
<!DOCTYPE html>
<!--

   __                        _                                           _ 
   \ \  ___  ___ _   _ ___  | | _____   _____  ___   _   _  ___  _   _  / \
    \ \/ _ \/ __| | | / __| | |/ _ \ \ / / _ \/ __| | | | |/ _ \| | | |/  /
 /\_/ /  __/\__ \ |_| \__ \ | | (_) \ V /  __/\__ \ | |_| | (_) | |_| /\_/ 
 \___/ \___||___/\__,_|___/ |_|\___/ \_/ \___||___/  \__, |\___/ \__,_\/   
                                                     |___/                 

-->
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title><%= @page_title %></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/png" href="/img/favicon.png" />
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/app.css">
        <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
        <script src="//use.typekit.net/vmc7ddm.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    </head>
    <body ontouchstart>
        <div id="top_bar"></div>
        <header class="cf constrain max">
            <h1>
                <a href="/blog"><i class="icon-rocket"></i> elliot james</a>
            </h1>
            <nav>
                <a href="#" class="menu-toggle" onclick="toggleMenu(event)"><i class="icon-reorder"></i></a>
                <ul id="js-menu">
                    <% ['blog', 'code', 'about', 'contact'].each do |page| page_sym = page.to_sym%>
                        <li<%=' class="selected"' if @selected_tab == page_sym %>><a href="/<%= page %>"><%= page %></a></li>
                    <% end %>
                </ul>
            </nav>
        </header>
        <!--[if lt IE 7]>
            <p class="browse-happy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/" target="browserhappy">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div id="content" class="constrain max square">
            <%=yield%>
        </div>
        <footer class="constrain max square">
            <a href="/code/elliotjames">Hand Made</a> in <a href="#">Idaho</a> by Elliot Dickison
        </footer>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script src="/js/app.js"></script>
    </body>
</html>
