<% @page_title ||= '' %>
<% links = ['blog', 'code', 'about', 'contact'] %>
<!DOCTYPE html>
<!--

   __                        _                                           _ 
   \ \  ___  ___ _   _ ___  | | _____   _____  ___   _   _  ___  _   _  / \
    \ \/ _ \/ __| | | / __| | |/ _ \ \ / / _ \/ __| | | | |/ _ \| | | |/  /
 /\_/ /  __/\__ \ |_| \__ \ | | (_) \ V /  __/\__ \ | |_| | (_) | |_| /\_/ 
 \___/ \___||___/\__,_|___/ |_|\___/ \_/ \___||___/  \__, |\___/ \__,_\/   
                                                     |___/                 

-->
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="google-site-verification" content="CsKxQ5xeJkM4VvDiowc4HWQEH9OzAegv-jfkWkUVuL8" />
        <meta name="description" content="The personal website of Elliot Dickison. A bit lame, really.">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <title><%= (@page_title.size ? "#{@page_title.gsub(%r{</?[^>]+?>}, '').strip} | " : '') << request.host %></title>
        
        <link rel="author" href="https://plus.google.com/u/0/+ElliotDickison/posts" />
        <link rel="icon" type="image/png" href="/img/favicon.png" />
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/app.css">
        <link rel="stylesheet" href="/css/fontawesome.css">
        <link rel="stylesheet" href="/prettify/prettify.css" />
        
        <!--[if lte IE 8]>
            <script type="text/javascript" src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
            <script type="text/javascript" src="/js/respond.js"></script>
        <![endif]-->
        <script type="text/javascript" src="//use.typekit.net/vmc7ddm.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    </head>
    <body ontouchstart>
        <header class="page-header js-cool-header cf">
            <nav>
                <a href="#" class="menu-toggle" onclick="toggleMenu(event)"><i class="icon-reorder"></i></a>
                <ul id="js-menu">
                    <li><a href="/blog">elliot james</a></li><%=
                    links.inject('') do |str, page|
                        klass = @selected_tab == page.to_sym ? 'selected' : ''
                        str << "<li class='#{klass}'><a href='/#{page}'>#{page}</a></li>"
                    end
                %></ul>
            </nav>
            <h1><%= @page_title %></h1>
        </header>
        <!--[if lt IE 9]>
            <div class="browse-happy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</div>
        <![endif]-->
        <div class="page-body">
            <%= get_message %>
            <%= yield %>
        </div>
        <footer class="page-footer cf">
            <div>Hand Made in <a href="//500px.com/search?utf8=%E2%9C%93&page=1&q=Idaho&type=photos&media_type=any&category=Landscapes&order=votes&license_type=-1">Idaho</a> by <a href="/about">Elliot</a></div>
            <ul>
                <li><a href="//github.com/<%= settings.github_id %>" title="github"><i class="icon-github mobile-only"></i><span class="not-on-mobile">Github</span></a></li>
                <li><a href="//twitter.com/<%= settings.twitter_id %>" title="twitter"><i class="icon-twitter mobile-only"></i><span class="not-on-mobile">Twitter</span></a></li>
                <li><a href="//instagram.com/<%= settings.instagram_id %>" title="instagram"><i class="icon-instagram mobile-only"></i><span class="not-on-mobile">Instagram</span></a></li>
                <li><a type="application/rss+xml" rel="alternate" href="/feed" title="rss"><i class="icon-rss mobile-only"></i><span class="not-on-mobile">Rss</span></a></li>
            </ul>
        </footer>
        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script type="text/javascript" src="/build/app.min.js"></script>
    </body>
</html>
